
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 143.9rem;
}.frame-1-d2q {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-qjnu-znV {
    background-color: #d9d9d9;
    flex-shrink: 0;
    width: 144rem;
    height: 102.4rem;
    position: relative;

    .rectangle-7-pQ9 {
      width: 83.7rem;
      height: 102.4rem;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(180deg, rgba(30, 27, 27, 0.6499999762) -0%, rgba(0, 0, 0, 0.7599999905) 100%);
    }
    .hello-there--Txu {
      width: 39.3rem;
      position: absolute;
      left: 6.2rem;
      line-height: 1.25;
      color: #ffffff;
      font-family: Krona One, 'Source Sans Pro';
      height: 5rem;
      top: 23.1rem;
      font-size: 4rem;
      font-weight: 400;
      white-space: nowrap;
    }
    .im-wendiyan-83T {
      left: 6.2rem;
      font-size: 6rem;
      line-height: 1.25;
      font-family: Krona One, 'Source Sans Pro';
      white-space: nowrap;
      width: 55.5rem;
      height: 7.5rem;
      position: absolute;
      top: 27.8rem;
      font-weight: 400;
      color: #ffffff;
    }
    .rectangle-9-PVB {
      background-color: #d9d9d9;
      width: 55.6rem;
      height: 3.1rem;
      position: absolute;
      left: 6.2rem;
      top: 38.6rem;
    }
    .graphic-designer-video-graphic-UmX {
      height: 2rem;
      left: 14.15rem;
      font-weight: 400;
      color: #1c1a1a;
      white-space: nowrap;
      width: 39.7rem;
      position: absolute;
      top: 39.1rem;
      text-align: center;
      font-size: 1.6rem;
      line-height: 1.25;
      font-family: Krona One, 'Source Sans Pro';
    }
    .hello-my-name-is-wendiyan-saputra-a-desain-graphic-video-graphic-ho-can-make-like-magazin-poster-and-video-editor-and-you-will-love-to-see-how-i-make-edit-video-Nc1 {
      width: 71rem;
      position: absolute;
      top: 48rem;
      font-size: 2.5rem;
      height: 12.5rem;
      left: 6.2rem;
      font-weight: 400;
      line-height: 1.25;
      color: #ffffff;
      font-family: Krona One, 'Source Sans Pro';
    }
    .rectangle-10-Pn1 {
      left: 6.2rem;
      top: 65.3rem;
      background-color: #d9d9d9;
      border-radius: 7.8rem;
      width: 23.3rem;
      height: 4rem;
      position: absolute;
    }
    .here-about-me-WLq {
      height: 2rem;
      left: 9.2rem;
      top: 66.1rem;
      font-size: 1.6rem;
      font-weight: 400;
      color: #000000;
      width: 17.2rem;
      position: absolute;
      line-height: 1.25;
      font-family: Krona One, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .frame-2-oKw {
    width: 144rem;
    height: 102.4rem;
    position: relative;
    overflow: hidden;
    background-color: #d9d9d9;
    flex-shrink: 0;

    .wendiyan-JXb {
      white-space: nowrap;
      height: 7.5rem;
      position: absolute;
      left: 0;
      font-size: 6rem;
      line-height: 1.25;
      width: 42.5rem;
      top: 5rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Krona One, 'Source Sans Pro';
    }
    .rectangle-11-mg5 {
      left: 21.2rem;
      top: 24.9rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      width: 58.6rem;
      height: 10.4rem;
      position: absolute;
    }
    .about-me-5Rs {
      width: 43.9rem;
      height: 11.5rem;
      position: absolute;
      font-size: 9.6rem;
      color: #000000;
      font-family: Inria Sans, 'Source Sans Pro';
      left: 28.1rem;
      top: 23.9rem;
      font-weight: 700;
      line-height: 1.1975;
      white-space: nowrap;
    }
    .hello-im-wendiyan-saputragraphic-designer-video-grapic-z33 {
      left: 9.5rem;
      line-height: 1.25;
      color: #000000;
      white-space: nowrap;
      width: 124.9rem;
      height: 4rem;
      font-size: 3.2rem;
      font-weight: 400;
      font-family: Krona One, 'Source Sans Pro';
      position: absolute;
      top: 39.7rem;
    }
    .i-can-make-design-and-editing-videos-this-is-the-application-that-i-use-4ob {
      height: 8rem;
      position: absolute;
      left: 9.5rem;
      font-weight: 400;
      font-family: Krona One, 'Source Sans Pro';
      width: 101.4rem;
      top: 47.2rem;
      font-size: 3.2rem;
      line-height: 1.25;
      color: #000000;
    }
    .image-5-vqo {
      top: 63.6rem;
      object-fit: cover;
      vertical-align: top;
      width: 26.6rem;
      height: 25.9rem;
      position: absolute;
      left: 21.2rem;
    }
    .image-5-F7P {
      left: 93.2rem;
      top: 64.3rem;
      object-fit: cover;
      vertical-align: top;
      width: 25.2rem;
      height: 24.6rem;
      position: absolute;
    }
  }
  .frame-3-K7F {
    width: 144rem;
    height: 102.4rem;
    position: relative;
    overflow: hidden;
    background-color: #d9d9d9;
    flex-shrink: 0;

    .wendiyan-3Z3 {
      height: 7.5rem;
      position: absolute;
      font-size: 6rem;
      font-weight: 400;
      line-height: 1.25;
      white-space: nowrap;
      width: 42.5rem;
      top: 5.4rem;
      color: #ffffff;
      font-family: Krona One, 'Source Sans Pro';
      left: 0;
    }
    .image-6-xvu {
      left: 23.1rem;
      top: 42.3rem;
      object-fit: cover;
      vertical-align: top;
      width: 35.1rem;
      height: 34.3rem;
      position: absolute;
    }
    .image-6-HyB {
      width: 35.1rem;
      height: 34.3rem;
      position: absolute;
      left: 86.9rem;
      top: 42.3rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .auto-group-zj1x-2A5 {
    box-sizing: border-box;
    padding: 3.3rem 11.1rem 17.5rem 11rem;
    width: 144rem;
    background-color: #d9d9d9;
    flex-shrink: 0;

    .image-7-9Eh {
      margin-bottom: 11.5rem;
      width: 29.5rem;
      height: 29.6rem;
      object-fit: cover;
      vertical-align: top;
    }
    .auto-group-a1wx-4Mf {
      width: 100%;
      display: flex;
      align-items: center;

      .artboard-1-2-1Gu {
        flex-shrink: 0;
        margin-right: 8.4rem;
        width: 55.5rem;
        height: 40.5rem;
        object-fit: cover;
        vertical-align: top;
      }
      .artboard-11-2-sK7 {
        width: 58rem;
        height: 40.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-xkbx-aUR {
    width: 144rem;
    height: 102.4rem;
    position: relative;
    flex-shrink: 0;

    .portofolio-8F3 {
      font-family: Inria Sans, 'Source Sans Pro';
      width: 26.9rem;
      height: 5.8rem;
      position: absolute;
      top: 3rem;
      text-align: center;
      font-size: 4.8rem;
      font-weight: 700;
      white-space: nowrap;
      left: 110.9rem;
      line-height: 1.1975;
      color: #ffffff;
    }
    .frame-6-xjs {
      background-color: #d9d9d9;
      width: 144rem;
      height: 102.4rem;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;

      .image-7-6bB {
        position: absolute;
        left: 9.7rem;
        top: 3.3rem;
        object-fit: cover;
        vertical-align: top;
        width: 29.5rem;
        height: 29.6rem;
      }
      .image-7-c3j {
        object-fit: cover;
        vertical-align: top;
        width: 55.1rem;
        height: 39rem;
        position: absolute;
        left: 74.3rem;
        top: 44.4rem;
      }
      .depan-remake-2-LkR {
        left: 9.7rem;
        top: 44.4rem;
        object-fit: cover;
        vertical-align: top;
        width: 55.5rem;
        height: 39rem;
        position: absolute;
      }
    }
  }
  .frame-4-T4M {
    background-color: #d9d9d9;
    flex-shrink: 0;
    width: 144rem;
    height: 102.4rem;
    position: relative;
    overflow: hidden;

    .image-7-y2h {
      vertical-align: top;
      width: 29.6rem;
      height: 28.9rem;
      position: absolute;
      left: 10.8rem;
      top: 3.3rem;
      object-fit: cover;
    }
    .image-10-55j {
      width: 55.5rem;
      height: 31.3rem;
      position: absolute;
      left: 10.8rem;
      top: 44.4rem;
      object-fit: cover;
      vertical-align: top;
    }
    .image-11-bJy {
      vertical-align: top;
      width: 55.5rem;
      height: 31.3rem;
      position: absolute;
      left: 73.7rem;
      top: 44.4rem;
      object-fit: cover;
    }
  }
  .frame-5-ieV {
    width: 144rem;
    height: 102.4rem;
    position: relative;
    overflow: hidden;
    background-color: #d9d9d9;
    flex-shrink: 0;

    .image-7-sGV {
      left: 10.8rem;
      top: 3.3rem;
      object-fit: cover;
      vertical-align: top;
      width: 29.6rem;
      height: 28.9rem;
      position: absolute;
    }
    .image-12-byB {
      width: 55.5rem;
      height: 31.3rem;
      position: absolute;
      left: 10.8rem;
      top: 45.1rem;
      object-fit: cover;
      vertical-align: top;
    }
    .image-12-YNd {
      top: 45.1rem;
      object-fit: cover;
      vertical-align: top;
      width: 55.5rem;
      height: 31.3rem;
      position: absolute;
      left: 76.7rem;
    }
  }
}
